name: "Pull Request Labeler"
on:
  pull_request_target: # Using target allows it to work on forks securely for labeling
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: .github/workflows/configs/labeler.yml
        sync-labels: true # Removes labels if files are removed from PR
